<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%> Weather</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Weather Edition</h1>
    <form action="/weather" method="POST">
      <p>Search Cities:</p>
      <input id="keyword" type="text" name="search_text" value="<%= city %>" placeholder="Enter city name">
      <input type="submit" value="Search" >
    </form>
    <% if (weatherMsg) { %>
      <div>
        <h2>Weather Information:</h2>
        <p><%- weatherMsg %></p>
      </div>
    <% } %>
    <p><a href="/">Back to home</a></p>
  </body>
</html>