<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%> Weather</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Weather Edition</h1>
    <form action="search_result" method="GET">
      <p></p>
      <input id="keyword" type="text" name="search_text">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>